@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Tangerine, sans-serif;
    background-repeat: no-repeat;
    color: #fff;
    background-image: linear-gradient(to bottom right, #75BA75, #1E8F83); 
}

h2, h3, h4 {
    font-family: Robot-Slab, sans-serif;
}

#logo {
    font-size: 550%;
    color: inherit;
    text-shadow: 2px 2px 4px #3E4A3D;
    text-align: center;
    margin-top: 20px;
}

/* Navigation links*/

#menu {
    font-family: Roboto-Slab, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
}

#menu li {  
    display: inline;
    margin: 20px;   
}

#menu a {
    text-decoration: none;
    color: inherit;
    text-shadow: 2px 2px 4px #3E4A3D;
}

#menu a:hover {
    background-color: #1E8F83;
    border: 5px solid #1E8F83;
}

.active {
    border-bottom: 2px solid #1E8F83;
}

/* Hero image*/

#hero-outer {
    overflow: hidden;
    margin-top: 20px;
    position: relative;   
}

#hero-image {
    height: 900px;
    background: url('../images/vittskovle-slott-1229x1536.jpg') no-repeat center;
    background-size: cover;
    background-position: top;

    /* animates zoom out effect on loading page*/

    animation-name: hero-zoom-out;
    animation-duration: 6s;
    animation-direction: reverse;
}

/* creates the level of zoom out for hereo image*/

@keyframes hero-zoom-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#hero-image-no-zoom {
    height: 900px;
    background: url('../images/vittskovle-slott-1229x1536.jpg') no-repeat center;
    background-size: cover;
    background-position: top;
}

/*Text for the hero image*/

#image-text {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    padding-top: 80px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;

    background-color: rgba(69, 165, 127, .5);

    top: 120px;
    left: 350px;

    position: absolute;
}

#hero-outer h2 {
    font-size: 115%;
    text-shadow: 2px 2px 4px #255F6F;
}

#hero-outer h3 {
    font-size: 100%;
    text-shadow: 2px 2px 4px #255F6F;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* Footer styles*/

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
    color: #fff;
}

#contact {
    text-align: center;
    margin-top: 2%; 
}

#contact h3, h4 {
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #3E4A3D;
}

/* About us text*/

#about-text {
    font-family: Roboto-Slab, sans-serif;
    background-color: rgba(62, 74, 61, 0.7);
    width: 60%;
    height: 60%;

    bottom: 30%;
    right: 20%;

    position: absolute;
}




