@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Tangerine, sans-serif;
    background-repeat: no-repeat;
    color: #fff;
    background-image: linear-gradient(to bottom right, #75BA75, #1E8F83); 
}

h2, h3, h4, p {
    font-family: Robot-Slab, sans-serif;
}

hr {
    border-top: 2px solid #fff;
    width: 55%;
    margin: 5px;
}

#logo {
    font-size: 550%;
    color: inherit;
    text-shadow: 2px 2px 4px #3E4A3D;
    text-align: center;
    margin-top: 20px;
}

/* Navigation links*/

#menu {
    font-family: Roboto-Slab, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
}

#menu li {  
    display: inline;
    margin: 20px;   
}

#menu a {
    text-decoration: none;
    color: inherit;
    text-shadow: 2px 2px 4px #3E4A3D;
}

#menu a:hover {
    background-color: #1E8F83;
    border: 5px solid #1E8F83;
}

.active {
    border-bottom: 2px solid #1E8F83;
}

/* Hero image*/

#hero-outer, #hero-outer-about {
    overflow: hidden;
    margin-top: 20px;
    position: relative;   
}

#hero-image {
    height: 900px;
    background: url('../images/vittskovle-slott-1229x1536.jpg') no-repeat center;
    background-size: cover;
    background-position: top;

    /* animates zoom out effect on loading page*/

    animation-name: hero-zoom-out;
    animation-duration: 6s;
    animation-direction: reverse;
}

/* creates the level of zoom out for hereo image*/

@keyframes hero-zoom-out {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

#hero-image-no-zoom {
    height: 900px;
    background: url('../images/vittskovle-slott-1229x1536.jpg') no-repeat center;
    background-size: cover;
    background-position: top;
}

#hero-image-no-zoom-castles{
    height: 100%;
    background: url('../images/vittskovle-slott-1229x1536.jpg') no-repeat center;
    background-size: cover;
    background-position: top;
}



/* opaq hero image*/

#hero-cover {
    width: 100%;
    height: 100%;
    background-color: rgba(62, 74, 61, 0.8);

    top: 0%;
    
    position: absolute;
}



/*Text for the hero image*/

#image-text {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
    padding-top: 60px;
    padding-right: 20px;
    padding-bottom: 5px;
    padding-left: 20px;

    background-color: rgba(69, 165, 127, .5);

    top: 10%;
    left: 20%;

    position: absolute;
}

#hero-outer h2 {
    font-size: 115%;
    text-shadow: 2px 2px 4px #255F6F;
}

#hero-outer h3 {
    font-size: 100%;
    text-shadow: 2px 2px 4px #255F6F;
    letter-spacing: 1px;
    font-style: italic;
    text-align: center;
    padding: 10px;
}

/* Styles for about us text*/

#about-text {
    font-family: Roboto-Slab, sans-serif;
    background-color: rgba(62, 74, 61, 0.9);
    width: 60%;
    height: 60%;

    bottom: 30%;
    right: 20%;

    position: absolute;
}

#about-text h2, p {
    margin: 10px;
}

#about-text p {
    margin-top: 2%;
    margin-bottom: 2%;
}

/* Footer styles*/

footer {
    height: 150px;
}

.social-media {
    text-align: center;
}

.social-media li {
    display: inline;
}

.social-media i {
    font-size: 180%;
    padding-top: 1%;
    padding-left: 2%;
    padding-right: 2%;
    margin: 1%;
    color: #fff;
}

#contact {
    text-align: center;
    margin-top: 2%; 
}

#contact h3, h4 {
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #3E4A3D;
}

/* Styles for signup form*/

.signup-form { 
    width: 30%;
    height: 45%;
    background-color: rgba(117, 186, 117, 0.6);
    text-shadow: 2px 2px 4px #3E4A3D;
    border: 2px solid #fff;
    padding: 30px;
    left: 33%;
    top: 15%;

    position: absolute;
}

.signup-form h2 {
    margin-bottom: 30px;
}

.input-field {
    width: 60%;
    height: 25px;
    margin: 5px 0 20px;
    border: 1px solid #3E4A3D;
    border-radius: 6px;
}

.signup-form label {
    font-family: Roboto-Slob, sans-serif;
    display: flex;
    margin-left: 5px;
}

.signup-button {
    margin-top: 15px;
    display: block;
    border-radius: 6px;
    padding: 15px 25px;
    font-size: 100%;
    color: #fff;
    background-color: #7C804C;
    border: 1px solid #fff;
}

.signup-button:hover {
    background-color: #fff;
    color: #7C804C;
    text-decoration: underline;
    text-transform: uppercase;
}

/* Styles for the castle imgages, headings, text and maps*/

/* #hero-outer-about img {
    height: 200px;
    width: 250px;
    margin-top: 2%;
    margin-left: 6%;
    border: 2px solid #fff; 
    position: relative;
    z-index: 1;
} */

.div-flex {
    display: flex;
}

.castle-image-div {
    margin-top: 6%;
    padding-left: 2%;
}

.castle-image-div img {
    position: relative;
    height: 200px;
    width: 250px;
    border: 2px solid #fff; 
    z-index: 1;
}

#hero-outer-about a {
    font-family: Robot-Slab, sans-serif;
    z-index: 1;
}

.castle-text-div {
    margin-top: 2%;
}

.castle-text {
    position: relative;
    text-align: left;
    left: 26%;
    bottom: 220px;
    height: 20px;
    width: 45%;
    z-index: 1;
}

.castle-text-new {
    position: relative;
    padding-left: 3%;
    width: 90%;
    z-index: 1;
}

.castles-heading {
    position: relative;
    left: 28%;
    bottom: 210px;
    height: 20px;
    width: 600px;
    z-index: 1;
}

.castle-heading-new {
    position: relative;
    height: 20px;
    margin-top: 30px;
    padding-left: 30px;
    z-index: 1;
}

.hr-castles {
    position: relative;
    left: 27%;
    bottom: 210px;
    height: 20px;
    width: 600px;
    z-index: 1;
}

.hr-castle-new {
    position: relative;
    height: 5px;
    width: 90%;
    margin-left: 4%;
    z-index: 1;
}

.castle-website {
    position: relative;
    left: 6%;
    bottom: 260px;
    z-index: 1;
    color: #fff;
}

.castle-website-new {
    position: relative;
    font-size: 13px;
    z-index: 1;
    color: #fff;
}

.castle-map {
    position: relative;
    left: 60%;
    bottom: 280px;
    z-index: 1;
}

.castle-map-div {
    position: relative;
    width: 400px;
    margin-top: 6%;
    padding-right: 2%;
    z-index: 1;
}





