@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&family=Tangerine:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Tangerine, sans-serif;
    background-repeat: no-repeat;
    color: #fff;
    background-image: linear-gradient(to bottom right, #75BA75, #45A57F);
}

#logo {
    font-size: 500%;
    color: inherit;
    text-align: center;
    margin-top: 20px;
}

/* Navigation links*/
#menu {
    font-family: Roboto-Slab, sans-serif;
    letter-spacing: 1px;
    text-align: center;
    margin-top: 20px;
}

#menu li {  
    display: inline;
    margin: 20px;
    
}


#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    background-color: #1E8F83;
    border: 5px solid #1E8F83;
}

.active {
    border-bottom: 2px solid #1E8F83;
}


